@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
@import "@fontsource-variable/geist/index.css";
@import "@fontsource-variable/geist-mono/index.css";

@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Roboto Mono", ui-monospace, monospace;
  --color-bg: var(--color-white);
  --color-bg-secondary: var(--color-gray-200);
  --color-component-bg: var(--color-gray-300);
  --color-component-bg: var(--color-gray-400);
  --color-component-bg-hover: var(--color-gray-500);
  --color-component-bg-active: var(--color-gray-600);
  --color-text-primary: var(--color-blue-950);
  --color-text-secondary: var(--color-black);
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-bg: var(--color-black);
  --color-bg-secondary: var(--color-gray-950);
  --color-component-bg: var(--color-gray-800);
  --color-component-bg: var(--color-gray-700);
  --color-component-bg-hover: var(--color-gray-600);
  --color-component-bg-active: var(--color-gray-500);
  --color-text-primary: var(--color-gray-100);
  --color-text-secondary: var(--color-gray-50);
}