@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

@font-face {
  font-family: "Geist Sans";
  src: url("geist/dist/fonts/geist-sans/Geist-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("geist/dist/fonts/geist-mono/GeistMono-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Roboto Mono", ui-monospace, monospace;
  --color-bg: var(--color-white);
  --color-bg-secondary: var(--color-gray-200);
  --color-component-bg: var(--color-gray-300);
  --color-component-bg: var(--color-gray-400);
  --color-component-bg-hover: var(--color-gray-500);
  --color-component-bg-active: var(--color-gray-600);
  --color-text-primary: var(--color-blue-950);
  --color-text-secondary: var(--color-black);
  --color-primary: var(--color-blue-600);
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-app-bg: var(--color-zinc-950);
  --color-app-text: var(--color-zinc-50);
  --color-primary: var(--color-blue-400);
}