@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
@import "@fontsource-variable/geist/index.css";
@import "@fontsource-variable/geist-mono/index.css";

@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Roboto Mono", ui-monospace, monospace;

  --color-bg: #ffffff;
  --color-bg-secondary: #fafafa;
  
  --color-component-bg: #eaeaea;
  --color-component-bg-hover: #999999;
  --color-component-bg-active: #888888;

  --color-text-primary: #000000;
  --color-text-secondary: #666666;
  
  --color-border: #eaeaea;
  --color-accents-6: #444444;
  --color-accents-7: #333333;
  --color-accents-8: #111111;
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-bg: #000000;
  --color-bg-secondary: #111111;
  
  --color-component-bg: #333333;
  --color-component-bg-hover: #444444;
  --color-component-bg-active: #666666;

  --color-text-primary: #ffffff;
  --color-text-secondary: #888888;
  
  --color-border: #333333;
}