@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
@import "@fontsource-variable/geist/index.css";
@import "@fontsource-variable/geist-mono/index.css";

@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Roboto Mono", ui-monospace, monospace;

  --color-bg: #ffffff;
  --color-bg-secondary: #fafafa;
  
  --color-component-bg: #eaeaea;
  --color-component-bg-hover: #999999;
  --color-component-bg-active: #888888;

  --color-text-primary: #000000;
  --color-text-secondary: #666666;
  
  --color-border: #eaeaea;
  --color-accents-6: #444444;
  --color-accents-7: #333333;
  --color-accents-8: #111111;
  --color-poker-green: #1a4a32;
  --color-poker-green-light: #2d9943;
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-bg: #000000;
  --color-bg-secondary: #111111;
  
  --color-component-bg: #333333;
  --color-component-bg-hover: #444444;
  --color-component-bg-active: #666666;

  --color-text-primary: #ffffff;
  --color-text-secondary: #888888;
  
  --color-border: #333333;
}

.bg-grain {
	background-image: 
		url("data:image/svg+xml,%3Csvg viewBox='0 0 800 800' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E"),
		radial-gradient(circle, var(--color-poker-green-light) 0%, var(--color-poker-green) 100%);
	background-blend-mode: overlay;
}

.card-3d {
  --tx: 0px;
  --ty: 0px;
  --tz: 0px;
  --ry: 0deg;

  transform-style: preserve-3d;
  transform:
    translate3d(var(--tx), var(--ty), var(--tz))
    rotateY(var(--ry));
  transition:
    transform 700ms cubic-bezier(0.22, 1, 0.36, 1);
}

.card-3d.flipped {
  --ry: 180deg;
}

.backface-hidden { 
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
}
.rotate-y-180 { 
  transform: rotateY(180deg); 
}

.perspective-1000 {
  perspective: 1000px;
}